*.gitignore filter=lfs diff=lfs merge=lfs -text
*.target filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.modules filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.uproject filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.prev filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.response filter=lfs diff=lfs merge=lfs -text
*.deps filter=lfs diff=lfs merge=lfs -text
*.uhtmanifest filter=lfs diff=lfs merge=lfs -text
*.ubt filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
*.vcxproj filter=lfs diff=lfs merge=lfs -text
*.filters filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.* text !filter !merge !diff
* text !filter !merge !diff
FactoryGame/Binaries/Win64/UE4Editor-FactoryGame.dll filter=lfs diff=lfs merge=lfs -text
FactoryGame/Binaries/Win64/UE4Editor-FactoryGame.pdb filter=lfs diff=lfs merge=lfs -text
